@page
@model SahibindenUi.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Giriş Yap";
    ViewData["IsLogin"] = true;
}


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Giriş Yap</h4>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_LoginSignupForm", new SahibindenUi.Pages.Shared._LoginSignupFormModel { IsLogin = Model.IsLogin })
                </div>
            </div>
        </div>
    </div>
</div>
